.DS_Store

__pycache__/


# Datasets
*.csv

# Logs
*.log

# ML models
*.safetensors
*.pkl

# Environment variables & secrets
.env
.env.*
!.env.example

# Virtual environment
venv/
.venv/

# Local databases and caches
data/
*.db
*.sqlite

